<div class="container">
 <footer>
  <small>Copyright &copy; 2016 <a href="https://www.barkerest.com/" title="BarkerEST">BarkerEST</a></small>
  <nav>
   <ul>
    <li><%= link_to 'Contact', contact_path %></li>
   </ul>
  </nav>
 </footer>
 <%= debug(params) if Rails.env.development? %>
</div>
