<div class="container">
  <footer>
    <%= render 'layouts/footer_copyright' %>
    <nav>
      <ul>
        <%= render 'layouts/menu_footer' %>
      </ul>
    </nav>
  </footer>
  <%= debug(params) if Rails.env.development? %>
</div>
