<html>
  <body>
    <%= yield %>
    <p>
     <strong>
      *** This message was sent as a result of a form submission at <%= link_to 'K9 Computer', root_url %> by a user from <%= @data[:client_ip] || '0.0.0.0' %> at <%= Time.now.strftime('%I:%M %p on %m/%d/%Y') %>. ***<br/>
      *** If you did not request this information, you can forward this message to abuse@k9computer.com to report it. ***
     </strong>
    </p>
  </body>
</html>
