<ul>
  <li><%= link_to 'Page 1', barkest_core_testsub_page1_path %></li>
  <li><%= link_to 'Page 2', barkest_core_testsub_page2_path %></li>
  <li><%= link_to 'Page 3', barkest_core_testsub_page3_path %></li>
</ul>
