<h1>TestReport</h1>

<%= link_to 'CSV', barkest_core_test_report_path(format: :csv), class: 'btn btn-default' %>
<%= link_to 'XLSX', barkest_core_test_report_path(format: :xlsx), class: 'btn btn-default' %>
<%= link_to 'PDF', barkest_core_test_report_path(format: :pdf), class: 'btn btn-default' %>

