<li class="divider"></li>
<li><%= link_to 'Update System', system_update_path %></li>
<li><%= link_to 'System Config', system_config_path %></li>
<li><%= link_to 'Manage Access Groups', access_groups_path %></li>
